@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@media (min-width: 629px) {
  .signinCon {
    background-color: #f7f7f7;
  }
}

.shoppingCart::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #fca311;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ea9814;
}
